body {
    font-family: Arial, sans-serif;
    background-color: #FFF000; /* Желтый фон */
    color: #000000; /* Черный текст */
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border: 2px solid #000000;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
button {
    background-color: #000000;
    color: #FFF000;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #333333;
}